.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: var(--menu-width);
  height: 100vh;
  background-color: #202225;
}